<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results Portal</title>
</head>
<body>
    <nav class="navbar" style="background-color: rgb(64 176 113);margin-inline-start: -10px;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/" style="color: white ;
          font-weight: bold;
          margin-inline-start: 40%;">Result Management System</a>     
        </div>
    </nav>
</body>
</html>