<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results Portal</title>
</head>
<body>
    <div class="container" style="text-align: center;margin: 50px 60px;">
        <h1 style="color: red;"> 404 : Page Not Found </h1>
        <p> The page you looking for cannot be found or you do not have access to this page. Click <a href="/">here</a> to go back</p>
    </div>
</body>
</html>
